---
layout: default
---

<section>
	<ul>

		{% for post in paginator.posts %}

		<li>
      <h2>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </h2>

      <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

      <p class="summary">
        {{ post.excerpt }}
        {% if post.excerpt.size != post.content.size %}
          <a class="post-more" href="{{ post.url | prepend: site.baseurl }}">more...</a>
        {% endif %}
      </p>
    </li>

		{% endfor %}

    <!-- Pagination links -->
    <div class="center pagination">
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
      {% endif %}
        <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}" class="next">Next</a>
      {% endif %}
    </div>
  </ul>


<p class="center rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</section>

